@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

.font-raleway {
  font-family: "Raleway", sans-serif;
}

.font-opensans {
  font-family: "Open Sans", sans-serif;
}

.rectangle0 {
  height: 1.5px;
  width: 25px;
  background-color: #4299e1;
  position: relative;
  top: 50px;
  right: 12%;
}

.circle0 {
  height: 5px;
  width: 5px;
  background-color: #4299e1;
  border-radius: 50%;
  position: relative;
  top: 48px;
  right: 11.5%;
  margin-right: 2px;
}

.rectangle4 {
  height: 1.5px;
  width: 25px;
  background-color: #4299e1;
  position: relative;
  top: 50px;
  right: 11%;
}

.rectangle1 {
  height: 1.5px;
  width: 25px;
  background-color: #4299e1;
  position: relative;
  top: 50px;
  right: 17%;
}

.circle1 {
  height: 5px;
  width: 5px;
  background-color: #4299e1;
  border-radius: 50%;
  position: relative;
  top: 48px;
  right: 16%;
  margin-right: 2px;
}

.rectangle31 {
  height: 1.5px;
  width: 25px;
  background-color: #4299e1;
  position: relative;
  top: 50px;
  right: 15%;
}

.rectangle2 {
  height: 1.5px;
  width: 25px;
  background-color: white;
  position: relative;
  top: 50px;
  right: 20%;
}

.circle2 {
  height: 5px;
  width: 5px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  top: 48px;
  right: 19%;
  margin-right: 2px;
}

.rectangle32 {
  height: 1.5px;
  width: 25px;
  background-color: white;
  position: relative;
  top: 50px;
  right: 18%;
}

.rectangle5 {
  height: 1.5px;
  width: 25px;
  background-color: #4299e1;
  position: relative;
  top: 50px;
  right: 24%;
}

.circle5 {
  height: 5px;
  width: 5px;
  background-color: #4299e1;
  border-radius: 50%;
  position: relative;
  top: 48px;
  right: 23%;
  margin-right: 2px;
}

.rectangle6 {
  height: 1.5px;
  width: 25px;
  background-color: #4299e1;
  position: relative;
  top: 50px;
  right: 22%;
}

.rectangle7 {
  height: 1.5px;
  width: 25px;
  background-color: #4299e1;
  position: relative;
  top: 50px;
  right: 22%;
}

.circle6 {
  height: 5px;
  width: 5px;
  background-color: #4299e1;
  border-radius: 50%;
  position: relative;
  top: 48px;
  right: 21%;
  margin-right: 2px;
}

.rectangle8 {
  height: 1.5px;
  width: 25px;
  background-color: #4299e1;
  position: relative;
  top: 50px;
  right: 20%;
}
