@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

.font-raleway {
  font-family: "Raleway", sans-serif;
}

.font-opensans {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.mobile-content {
  display: none;
}

.desktop-content {
  display: initial;
}

/* Overview style Starts */
.rectangle0 {
  height: 1.5px;
  width: 25px;
  background-color: #4299e1;
  position: relative;
  top: 50px;
  right: 12%;
}

.circle0 {
  height: 5px;
  width: 5px;
  background-color: #4299e1;
  border-radius: 50%;
  position: relative;
  top: 48px;
  right: 11.5%;
  margin-right: 2px;
}

.rectangle4 {
  height: 1.5px;
  width: 25px;
  background-color: #4299e1;
  position: relative;
  top: 50px;
  right: 11%;
}
/* Overview Style Ends */

/* Work Style Starts */
.rectangle1 {
  height: 1.5px;
  width: 25px;
  background-color: #4299e1;
  position: relative;
  top: 50px;
  right: 15.5%;
}

.circle1 {
  height: 5px;
  width: 5px;
  background-color: #4299e1;
  border-radius: 50%;
  position: relative;
  top: 48px;
  right: 14.5%;
  margin-right: 2px;
}

.rectangle31 {
  height: 1.5px;
  width: 25px;
  background-color: #4299e1;
  position: relative;
  top: 50px;
  right: 13.5%;
}
/* Work Style Ends */

/* Features Style Starts */
.rectangle2 {
  height: 1.5px;
  width: 25px;
  background-color: white;
  position: relative;
  top: 50px;
  right: 20%;
}

.circle2 {
  height: 5px;
  width: 5px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  top: 48px;
  right: 19%;
  margin-right: 2px;
}

.rectangle32 {
  height: 1.5px;
  width: 25px;
  background-color: white;
  position: relative;
  top: 50px;
  right: 18%;
}
/* Features Style Ends */

/* Pricing Style Starts */
.rectangle5 {
  height: 1.5px;
  width: 25px;
  background-color: #4299e1;
  position: relative;
  top: 50px;
  right: 14%;
}

.circle5 {
  height: 5px;
  width: 5px;
  background-color: #4299e1;
  border-radius: 50%;
  position: relative;
  top: 48px;
  right: 13%;
  margin-right: 2px;
}

.rectangle6 {
  height: 1.5px;
  width: 25px;
  background-color: #4299e1;
  position: relative;
  top: 50px;
  right: 12%;
}
/* Pricing Style Ends */

/* Team Style Starts */
.rectangle7 {
  height: 1.5px;
  width: 25px;
  background-color: #4299e1;
  position: relative;
  top: 50px;
  right: 22%;
}

.circle6 {
  height: 5px;
  width: 5px;
  background-color: #4299e1;
  border-radius: 50%;
  position: relative;
  top: 48px;
  right: 21%;
  margin-right: 2px;
}

.rectangle8 {
  height: 1.5px;
  width: 25px;
  background-color: #4299e1;
  position: relative;
  top: 50px;
  right: 20%;
}
/*Team Style Ends */

/* App Style Starts */
.rectangle91 {
  height: 1.5px;
  width: 25px;
  background-color: white;
  position: relative;
  top: 50px;
  right: 13%;
}

.circle9 {
  height: 5px;
  width: 5px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  top: 48px;
  right: 14%;
  margin-right: 2px;
}

.rectangle9 {
  height: 1.5px;
  width: 25px;
  background-color: white;
  position: relative;
  top: 50px;
  right: 15%;
}
/* App Style Ends */

/* Contact Style Starts */
.rectangle10 {
  height: 1.5px;
  width: 25px;
  background-color: #4299e1;
  position: relative;
  top: 50px;
  right: 14%;
}

.circle10 {
  height: 5px;
  width: 5px;
  background-color: #4299e1;
  border-radius: 50%;
  position: relative;
  top: 48px;
  right: 13%;
  margin-right: 2px;
}

.rectangle92 {
  height: 1.5px;
  width: 25px;
  background-color: #4299e1;
  position: relative;
  top: 50px;
  right: 12%;
}
/* COntact Style Ends */

@media screen and (max-width: 425px) {
  .mobile-content {
    display: block;
    overflow: hidden;
  }

  .desktop-content {
    display: none;
  }

  .topnav {
    overflow: hidden;
    background-color: #ececee;
    position: relative;
  }

  .topnav #myLinks {
    display: none;
  }

  .topnav a {
    color: #4299e1;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.icon {
    background: #ececee;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .active {
    background-color: #ececee;
    color: white;
  }

  .rectangle0 {
    height: 1.5px;
    width: 25px;
    background-color: #4299e1;
    position: relative;
    top: 48px;
    right: 26%;
  }

  .circle0 {
    height: 5px;
    width: 5px;
    background-color: #4299e1;
    border-radius: 50%;
    position: relative;
    top: 46px;
    right: 24%;
    margin-right: 2px;
  }

  .rectangle4 {
    height: 1.5px;
    width: 25px;
    background-color: #4299e1;
    position: relative;
    top: 48px;
    right: 22%;
  }

  .overviewCards {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 1100px;
  }

  /* Work Starts */
  .rectangle1 {
    height: 1.5px;
    width: 25px;
    background-color: #4299e1;
    position: relative;
    top: 50px;
    right: 33%;
  }

  .circle1 {
    height: 5px;
    width: 5px;
    background-color: #4299e1;
    border-radius: 50%;
    position: relative;
    top: 48px;
    right: 30.5%;
    margin-right: 2px;
  }

  .rectangle31 {
    height: 1.5px;
    width: 25px;
    background-color: #4299e1;
    position: relative;
    top: 50px;
    right: 28%;
  }
  /* Work Ends */

  .app-heading {
    position: relative;
    bottom: 15px;
    left: 9px;
    font-size: 0.8em;
  }

  .app-page {
    position: relative;
    right: -18px;
    bottom: -20px;
  }

  /* Features Starts */
  .rectangle2 {
    height: 1.5px;
    width: 25px;
    background-color: white;
    position: relative;
    top: 50px;
    right: 41%;
  }

  .circle2 {
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    top: 48px;
    right: 36.5%;
    margin-right: 2px;
  }

  .rectangle32 {
    height: 1.5px;
    width: 25px;
    background-color: white;
    position: relative;
    top: 50px;
    right: 33%;
  }
  /* Feature Ends */

  /* Team Starts */
  .rectangle7 {
    height: 1.5px;
    width: 25px;
    background-color: #4299e1;
    position: relative;
    top: 50px;
    right: 34%;
  }

  .circle6 {
    height: 5px;
    width: 5px;
    background-color: #4299e1;
    border-radius: 50%;
    position: relative;
    top: 48px;
    right: 31.5%;
    margin-right: 2px;
  }

  .rectangle8 {
    height: 1.5px;
    width: 25px;
    background-color: #4299e1;
    position: relative;
    top: 50px;
    right: 30%;
  }
  /* Team Ends */

  /* Pricing Starts */
  .rectangle5 {
    height: 1.5px;
    width: 25px;
    background-color: #4299e1;
    position: relative;
    top: 50px;
    right: 30%;
  }

  .circle5 {
    height: 5px;
    width: 5px;
    background-color: #4299e1;
    border-radius: 50%;
    position: relative;
    top: 48px;
    right: 27%;
    margin-right: 2px;
  }

  .rectangle6 {
    height: 1.5px;
    width: 25px;
    background-color: #4299e1;
    position: relative;
    top: 50px;
    right: 25%;
  }
  /* Pricing Ends */

  /* App Starts*/
  .rectangle91 {
    height: 1.5px;
    width: 25px;
    background-color: white;
    position: relative;
    top: 50px;
    right: 25%;
  }

  .circle9 {
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    top: 48px;
    right: 29%;
    margin-right: 2px;
  }

  .rectangle9 {
    height: 1.5px;
    width: 25px;
    background-color: white;
    position: relative;
    top: 50px;
    right: 32%;
  }
  /* App Ends */

  /* Contact Starts */
  .rectangle10 {
    height: 1.5px;
    width: 25px;
    background-color: #4299e1;
    position: relative;
    top: 50px;
    right: 30%;
  }

  .circle10 {
    height: 5px;
    width: 5px;
    background-color: #4299e1;
    border-radius: 50%;
    position: relative;
    top: 48px;
    right: 27%;
    margin-right: 2px;
  }

  .rectangle92 {
    height: 1.5px;
    width: 25px;
    background-color: #4299e1;
    position: relative;
    top: 50px;
    right: 24%;
  }
  /* Contact Ends */
}

@media screen and (max-width: 375px) {
  .app-page {
    position: relative;
    right: -3px;
    bottom: -20px;
  }

  .app-heading h4 {
    position: relative;
    bottom: 15px;
    left: 3px;
    font-size: 0.7em;
  }
}
